body {
  /* Default color */
  background-color: blanchedalmond;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  text-align: center;
}

img {
  width: 400px;
}

.bg0 {
  background: lightpink;
}

.bg1 {
  background: lightblue;
}

.bg2 {
  background: lightgreen;
}
