/*  Color Variables  */
.color0 {
  --bgColor: #ff2941;
  --outerNavColor: #b434b2;
  --navColor: #fe18d3;
  --bioColor: #feff38;
  --outerFootColor: #4206f1;
  --footColor: #60159e;
}

.color1 {
  --bgColor: #ff00c1;
  --outerNavColor: #73e309;
  --navColor: #0004ff;
  --bioColor: turquoise;
  --outerFootColor: #0db1f0;
  --footColor: #f969c7;
}

.color2 {
  --bgColor: #efb5be;
  --outerNavColor: #fe3c71;
  --navColor: #c86f4b;
  --bioColor: #dddddd;
  --outerFootColor: #0281fe;
  --footColor: #2bd565;
}

.color3 {
  --bgColor: #ffdb4a;
  --outerNavColor: #20acc9;
  --navColor: #673b90;
  --bioColor: #f5a01f;
  --outerFootColor: #c93127;
  --footColor: #3d6bbc;
}

/*  General Code  */
body {
  display: grid;
  grid-template: 100px 1fr auto / auto 1000px auto;
  background-color: var(--bgColor);
  font-family: "Didact Gothic", sans-serif;
}

h1,
h2,
h3 {
  font-family: "DotGothic16", sans-serif;
  letter-spacing: 1px;
}

/*  Nav Code  */
nav {
  height: 100px;
  background-color: var(--outerNavColor);
  grid-column: 1 / span 3;
  grid-row: 1;
}

nav div {
  background-color: var(--navColor);
  height: 100px;
  width: 1000px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav h1 {
  color: white;
  font-size: 30pt;
  letter-spacing: 1px;
}

/*  Main Body Setup  */
main {
  background-color: white;
  grid-column: 2;
  grid-row: 2;
  text-align: center;
}

/*  Bio and Picture  */
.bio {
  display: flex;
  align-items: center;
}

.bio figcaption {
  padding: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--bioColor);
}

.bio img {
  width: 400px;
}

/*  Contact Me  */
.contact {
  margin-top: 50px;
  margin-bottom: 50px;
}

.contact h2 {
  margin: 0;
}

form {
  display: grid;
  grid-template: 50px 60px 50px / 30% 70%;
}

.contact p {
  display: table-row;
  align-items: center;
}

.contact textarea {
  vertical-align: top;
  width: 500px;
  height: 94px;
  resize: none;
}

.contact button {
  width: 300px;
  height: 50px;
  align-items: center;
  background-color: var(--navColor);
  color: white;
  letter-spacing: 1px;
  border: none;
}

#name {
  width: 100%;
  align-items: center;
  text-align: right;
}

#email {
  grid-column: 1;
  grid-row: 2;
  text-align: right;
}

#message {
  grid-column: 2;
  grid-row: 1 / span 2;
}

#submit {
  grid-column: 1 / span 2;
  grid-row: 3;
}

/*  Portfolio  */
#portfolio {
  padding-bottom: 50px;
}

#portfolio figure {
  width: 300px;
  height: 300px;
  display: inline-grid;
  align-content: left;
  margin: 0px;
  padding: 0px;
}

/*  Footer  */
footer {
  height: 100px;
  background-color: var(--outerFootColor);
  grid-column: 1 / span 3;
  grid-row: 3;
}

footer div {
  background-color: var(--footColor);
  height: 100px;
  width: 1000px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer h3 {
  color: white;
  letter-spacing: 1px;
}
